.container {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
  gap: 2rem;
}

.form-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 2rem;
}

label {
  place-self: center end;
}

.form-checkbox {
  place-self: end start;
}